@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* 400, 500, 700 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
}

:root {
    --moderate-blue: hsl(238, 40%, 52%);
    --soft-red: hsl(358, 79%, 66%);
    --light-grayish-blue: hsl(239, 57%, 85%);
    --pale-red: hsl(357, 100%, 86%);
    --dark-blue: hsl(212, 24%, 26%);
    --grayish-blue: hsl(211, 10%, 45%);
    --light-gray: hsl(223, 19%, 93%);
    --very-light-gray: hsl(228, 33%, 97%);
    --white: hsl(0, 0%, 100%);
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    background-color: var(--light-gray);
}

.main-container {
    width: 50%;
    margin-bottom: 80px;
}


.parent-comment, .personal-comment, .edit-personal-comment {
    width: 100%; 
    display: flex;
    background-color: var(--white);
    padding: 16px;
    border-radius: 8px;
    margin-top: 24px;

}

.vote-container {
    width: 40px;
    display: flex;
    flex-direction: column;
}

.vote-container .reply-container {
    display: none;
}

.plus, .minus {
    background-color: var(--light-gray);
    color: var(--light-grayish-blue);
    text-align: center;
    padding: 6px;
    cursor: pointer;
    font-weight: 500;
}

.plus:hover, .minus:hover {
    color: var(--moderate-blue);
}

.counter {
    background-color: var(--light-gray);
    color: var(--moderate-blue);
    text-align: center;
    font-weight: 500;
}

.plus {
    border-radius: 8px 8px 0 0 ;
}

.minus {
    border-radius: 0 0 8px 8px;
}

.info-container {
    width: 96%;
    margin-left: 24px;
}

.user-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 40px;
}

.username {
    margin-left: 12px;
    font-weight: 700;
    color: var(--dark-blue);
}

.time {
    margin-left: 12px;
    color: var(--grayish-blue)
}

.reply-container, .edit-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.mobile.edit-container {
    display: none;
}

.edit-btn-container, .delete-container {
    display: flex;
    align-items: center;
}

.reply-container:hover, .reply-btn:hover, .update-btn:hover, .edit-btn-container:hover, .delete-container:hover{
    opacity: .7;
    cursor: pointer;
}

.reply-delete .delete-container {
    margin-top: 12px;
}

.reply-icon, .edit-icon, .delete-icon {
    margin-right: 8px;
}

.edit-icon {
    margin-left: 20px;
}

.reply, .edit {
    color: var(--grayish-blue);
    font-weight: 500;
}

.delete {
    color: var(--soft-red);
    font-weight: 500;
}

.comment {
    width: 100%;
    color: var(--grayish-blue);
    line-height: 1.5;
    margin-top: 12px;
}

.edit-comment-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.edit-comment-container .text-input {
        width: 100%;
        padding: 12px;
        border-radius: 8px;
        border: 1px solid var(--light-gray);
        outline: none;
        margin: 12px 0 12px 0;
}

.message-container, .send-message-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px;
    width: 100%;
    background-color: var(--white);
    margin-top: 12px;
    border-radius: 8px;
}

.text-input {
    width: 80%;
    resize: none;
    min-height: 120px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--light-gray);
    outline: none;
    margin: 0 12px 0 12px;
}

.response:focus {
    border: 1px solid var(--dark-blue);
}

.reply-btn, .update-btn {
    width: 100px;
    height: 50px;
    background-color: var(--moderate-blue);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 500;
}

.response-container {
    width: 100%;
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
}

.vertical-container {
    width: 10%;
    display: flex;
    justify-content: center;
}

.vertical-div {
    width: 2px;
    height: 100%;
    background-color: var(--light-grayish-blue);
    opacity: .2;
}

.replies-container {
    width: 90%;

}

.child.parent-comment {
    margin-top: 0;
}

.you {
    color: var(--white);
    background-color: var(--moderate-blue);
    margin-left: 12px;
    padding: 2px 8px 2px 8px;
    border-radius: 2%;
    font-size: .8rem;
}

.reply-tag {
    color: var(--moderate-blue);
    font-weight: 700;
}

@media screen and (max-width: 980px) {
    .main-container {
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    .main-container {
        width: 95%;
    }
}

@media screen and (max-width: 540px) {
    main {
        padding-top: 40px;
    }
    
    .main-container {
        width: 95%;
    }

    .info-container .reply-container, .personal-comment .reply-container{
        display: none;
    }

    .parent-comment, .personal-comment, .edit-personal-comment {
        flex-direction: column-reverse;
    }

    .vote-container {
        width: 100%;
        flex-direction: row;
        margin-top: 24px;
    }

    .plus, .minus {
        width: 40px;
        padding: 8px;
        font-size: 1.3rem;
    }

    .plus {
        border-radius: 8px 0 0 8px;
    }

    .minus {
        border-radius: 0 8px 8px 0;
    }

    .counter {
        display: flex;
        align-items: center;
    }

    .info-container {
        margin-left: 0;
    }

    .comment, .username, .time {
        font-size: 1.1rem;
    }

    .vote-container .reply-container {
        display: flex;
    }

    .edit-container {
        display: none;
    }

    .mobile.edit-container {
        display: flex;
    }

    .message-container, .send-message-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .text-input {
        width: 100%;
        grid-column: span 3;
        margin: 0 0 24px 0;
    }

    .message-container .profile-pic, .send-message-container .profile-pic {
        grid-row-start: 2;
    }

    .reply-delete {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;

    }

    .reply-btn, .reply-delete {
        grid-column-start: 3;
        margin-left: auto;
    }

    .reply-delete .delete-container {
        margin-top: 0;
        margin-right: 12px;
    }
}